{% set distro_requires %}
  <distro_family op="=" value="RedHatEnterpriseLinux6"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="RHEL-6.10"/>
{% endset %}
{% set repos %}
  {% if ARCH == "s390x" %}
    <repo name="pulp_0" url="https://rhsm-pulp.corp.redhat.com/content/els/rhel/system-z/6/6Server/s390x/os"/>
    <repo name="pulp_1" url="https://rhsm-pulp.corp.redhat.com/content/els/rhel/system-z/6/6Server/s390x/optional/os"/>
  {% else %}
    <repo name="pulp_0" url="https://rhsm-pulp.corp.redhat.com/content/els/rhel/server/6/6Server/{{ ARCH }}/os"/>
    <repo name="pulp_1" url="https://rhsm-pulp.corp.redhat.com/content/els/rhel/server/6/6Server/{{ ARCH }}/optional/os"/>
  {% endif %}
{% endset %}
{% set host_requires %}
  {# NOTE(bgoncalv): For i386 only uses systems that also supports x86_64 #}
  {# More details: https://gitlab.com/redhat/centos-stream/tests/kernel/kpet-db/-/merge_requests/178#note_504036929 #}
  {% if ARCH == "i386" %}
    <and>
      <system>
        <arch op="=" value="i386"/>
        <arch op="=" value="x86_64"/>
        <compatible_with_distro arch="i386" osmajor="RedHatEnterpriseLinux6"/>
      </system>
    </and>
  {% endif %}
{% endset %}
