{# Just doing {% include "trees/tree.j2" %} doesn't export variables #}
{% set NIGHTLY_REPO = "latest-RHEL-8.4.0" %}
{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux8"/>
  <distro_name op="=" value="RHEL-8.4.0"/>
{% endset %}
{% set distro_type = "eus" %}
{% if ARCH == "x86_64" %}
  {% set distro_type = "aus" %}
{% endif %}
{% if ARCH == "ppc64le" %}
  {% set distro_type = "e4s" %}
{% endif %}
{% import "trees/rhel8-zstream.j2" as zstream with context %}
{% set repos = zstream.repos %}
{% set ks_append | dedent %}
  <ks_append><![CDATA[
  %post
  # Enable Buildroot for test dependencies
  cat >/etc/yum.repos.d/BUILDROOT-8.repo <<EOF
  [BUILDROOT-8]
  name=BUILDROOT-8
  baseurl=http://download.eng.rdu2.redhat.com/rhel-8/rel-eng/BUILDROOT-8/latest-BUILDROOT-8.4.0-RHEL-8/compose/Buildroot/{{ ARCH }}/os/
  enabled=1
  gpgcheck=0
  skip_if_unavailable=1
  EOF
  # Add Advanced VIRT repo, required for virt tests
  cat >/etc/yum.repos.d/rhel8-advvirt.repo <<EOF
  [rhel8-advvirt]
  name=rhel8-advvirt
  baseurl=http://download.devel.redhat.com/rhel-8/rel-eng/ADVANCED-VIRT-8/latest-ADVANCED-VIRT-8.4.0-RHEL-8/compose/Advanced-virt/$(uname -i)/os/
  enabled=0
  gpgcheck=0
  EOF
  %end
  ]]></ks_append>
{% endset %}
